@model BistrotUGA.Data.Models.Restaurant

@{
    ViewBag.Title = "Dishes";
}

<h2>Dishes</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

    </dl>
    @foreach (var dish in Model.Dishes)
    {
    <a href="@Url.Action("Details/"+(dish.Id-1),"Restaurant")">
        <p>@dish.Name</p>
    </a>
    }
</div>