@model BistrotUGA.Data.Models.Restaurant

@{
    ViewBag.Title = "Dishes";
}

<h1>@Model.Name</h1>

<div>
    <h3>Dishes</h3>
    <hr />
    @foreach (var dish in Model.Dishes)
    {
    <a href="@Url.Action("Details/"+(dish.Id-1),"Restaurant")">
        <img src="@Url.Content("~/Content/Images/Dish"+dish.Id+".jpg")" alt=@Model.Name />
        <p>@dish.Name</p>
        <p>@dish.Price</p>
    </a>
    }
</div>